
  
* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(141, 127, 10);
  --secondary-color: rgb(255, 134, 233);
  --text-base: 20px;
}

/* @font-face {
  font-family: "Times Dot";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/timesdotrom.woff2") format("woff2");
}

@font-face {
  font-family: "Times Dot";
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/timesdotbol.woff2") format("woff2");
}

@font-face {
  font-family: "Times Dot";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/times_dot-italic.woff2") format("woff2");
}   */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Times Dot";
  font-size: var(--text-base);
  color: var(--primary-color);
}


ul,
ul li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1,h2, h3 {
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}

strong {
  font-weight: normal;
}





a, button {
-webkit-tap-highlight-color: transparent;
}

@media (min-width: 1500px) {

  html,
  body {
    font-size: 1.1vw;
  }
}